body {
    color: #343a40;
    background-color: #f1f3f5;
}

a {
    color: #212529;
}
a:hover,
a:focus {
    color: #c92a2a;
}

.label {
    display: inline-block;
    padding: .2em .6em .3em;
    margin-right: 5px;

    font-weight: normal;
    line-height: 140%;

    text-align: left;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    -webkit-border-radius: .25em;
       -moz-border-radius: .25em;
            border-radius: .25em;
    background-color: #9c36b5;
}

.fa {
    margin-right: 3px;
}

.timer {
    padding: .2em .6em .3em;
    margin-right: 5px;

    vertical-align: middle;

    color: white;
    -webkit-border-radius: .25em;
       -moz-border-radius: .25em;
            border-radius: .25em;
    background-color: #2f9e44;
}
.timer:before {
    margin-right: 5px;
}

.progress {
    margin: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    box-shadow: none;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 500;
}

/* Layout */
footer {
    margin: 50px auto 0;

    font-size: .85em;

    text-align: center;
}

/* Modules */
.content {
    text-align: center;
}

.board {
    display: inline-block;
    min-width: 325px;
    padding: 10px;
    vertical-align: top;
}

.board__header {
    text-align: center;
}
.board__header .board__picture {
    display: inline-block;
    height: 65px;
    width: 65px;
    margin: 0 auto 5px;
    overflow: hidden;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.board__header .board__picture img {
    height: auto;
    width: 100%;
}
.board__header .board__name {
    margin: 0 0 20px;
}

.board__card {
    margin: 0 0 20px;
    overflow: hidden;

    background-color: #1971c2;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
            box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.board__card > h1,
.board__card > h2 {
    padding: 10px 15px;
    margin: 0;

    font-size: 1.25em;
    font-weight: bold;

    color: white;
}
.board__card > ul {
    padding: 0;
    margin: 0;

    text-align: left;
    list-style: none outside none;
}
.board__card > ul li {
    position: relative;

    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;

    border: 1px solid #e9ecef;
    border-width: 1px 0;
    background-color: #f8f9fa;
}
input {
    margin-right: 5px;
}
input.done + span {
    text-decoration: line-through;

    color: #999;
}

.board__card--default {
    background-color: #34495e;
}

.board__card--current stack {
    background-color: #27ae60;
}

.board__card--pipeline {
    background-color: #3498db;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #343a40;
        color: #f1f3f5;
    }

    a {
        color: #f8f9fa;
    }

    .board__card > ul li {
        border: 1px solid #495057;
        background-color: #212529;
    }
}